.atelier {
  background-color: #252525;
  padding: 40px 0 100px;
  .about-atelier {
    padding-bottom: 30px;
    h3 {
      color: #999999;
      font-size: 18px;
      margin-bottom: 15px;
      font-weight: bold;
    }
    p,
    span {
      color: #999999;
      font-size: 15px;
      margin-bottom: 15px;
    }
  }
  .follow-us {
    padding-bottom: 30px;
    h3 {
      color: #999999;
      font-size: 18px;
      margin-bottom: 15px;
      font-weight: bold;
    }
    ul {
      display: flex;
      a {
        &:hover >i{
            rotate: 360deg;
            transition: all 0.5s ease;
        }
        color: #cccccc;
        padding: 10px;
        width: 36px;
        height: 36px;
        line-height: 36px;
        font-size: 16px;
        overflow: hidden;
        text-align: center;
      }
    }
    .twitter{
        &:hover{
            background-color: #00aced;
        }
    }
    .facebook{
        &:hover{
            background-color: #3b5998;
        }
    }
    .drible{
        &:hover{
            background-color: #ea4c89;
        }
    }
    .youtube{
        &:hover{
            background-color: #b00;
        }
    }
    .viamo{
        &:hover{
            background-color: #7FC400;
        }
    }
    .tumblr{
        &:hover{
            background-color: #32506d;
        }
    }
    .skype{
        &:hover{
            background-color: #0076ca;
        }
    }
    .linkedin{
        &:hover{
            background-color: #007bb6;
        }
    }
    .google{
        &:hover{
            background-color: #dd4b39;
        }
    }
    //**//
    .flickr{
        &:hover{
            background-color: #ff0084;
        }
    }
    .pinterest{
        &:hover{
            background-color: #cb2027;
        }
    }
    .foursquare{
        &:hover{
            background-color: #00aeef;
        }
    }
    .insta{
        &:hover{
            background-color: #517fa4;
        }
    }
    .git{
        &:hover{
            background-color: #333;
        }
    }
    .xing{
        &:hover{
            background-color: #026466;
        }
    }
    .behance{
        &:hover{
            background-color: #1769ff;
        }
    }
    .cloud{
        &:hover{
            background-color: #f80;
        }
    }
    .rss{
        &:hover{
            background-color: #f26522;
        }
    }
  }
  .newsletter{
    padding-bottom: 30px;
    h3{
        color: #999999;
        font-size: 18px;
        margin-bottom: 15px;
        font-weight: bold;  
    }

  }
  .email{
    width: 100% !important;
    border: none;
    outline: none;
    padding: 10px;
    margin: 6px 0 15px;
    color: #999999;
    font-size: 14px;
    background: none;
    border-bottom: 2px solid $header-border-color;
    &:hover{
        border-color: $header-hover-color;
    }
}
}
