.journal .journal-cart {
  background-image: url(/assets/img/journal-bg.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  height: 535px;
  position: relative;
  z-index: 2;
}

.journal .journal-cart .journal-text h2 {
  font-size: 72px;
  line-height: 78px;
}
