.shop-sec-1 {
  height: 300px;
  background-image: url(/assets/img/shop-sec-img.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  position: relative;
  z-index: 5;
}
